
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>傲银支付</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row" style="margin:15px;">
        <div class="col-md-12">
            <form class="form-inline" method="post" action="{{ data.create_order_url }}">
                <input type="hidden" name="partner" value="{{ data.partner}}">
                <input type="hidden" name="user_seller" value="{{ data.user_seller}}">
                <input type="hidden" name="out_order_no" value="{{ data.out_order_no}}">
                <input type="hidden" name="subject" value="{{ data.subject}}">
                <input type="hidden" name="total_fee" value="{{ data.total_fee}}">
                <input type="hidden" name="body" value="{{ data.body}}">
                <input type="hidden" name="notify_url" value="{{ data.notify_url}}">
                <input type="hidden" name="return_url" value="{{data.return_url}}">
                <input type="hidden" name="sign" value="{{data.sign}}">
                <input type="hidden" name="pay_type" value="{{data.pay_type}}">
                <input type="hidden" name="http_referer" value="{{data.http_referer}}">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
$(function(){document.querySelector('form').submit();})
;</script>
</body>
</html>